<div class="alert alert-dark">
    <h1 class="text-center">Welcome!</h1>
    <a class="btn btn-success" routerLink="users" routerLinkActive="active">Home</a> &nbsp;
    <a class="btn btn-success" routerLink="newuser" routerLinkActive="active">Add New User</a>
</div>
<div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="adduser" routerLinkActive="active"
          >Add User</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="errors" routerLinkActive="active"
          ><span class="text-danger">Error 404</span></a
        >
      </li>
    </ul>
  </div>

<router-outlet> </router-outlet>